@page "/print-tags"
@layout NoMenuLayout

@using Microsoft.EntityFrameworkCore
@using PriceTagPrinter.Contexts
@using PriceTagPrinter.Models

@namespace PriceTagPrinter.Pages

@inject IDbContextFactory<PriceTagContext> PriceTagContextFactory

<div class="print-tags-wrapper">
  @foreach (List<PriceTag> page in PriceTagPagesToPrint)
  {
    <div class="print-tags-page-wrapper">
      <div class="print-tags-page">
        @foreach (PriceTag tag in page)
        {
          <div class="print-tags-tag print-tags-tag-size-@tag.Size">
            <span class="print-tags-tag-title">@tag.GoodsName</span>
            <span class="print-tags-tag-price">@($"{tag.GoodsPrice:n0}")<span class="print-tags-tag-price-won-symbol">원</span></span>
            <div class="print-tags-tag-code-wrapper">
              <span class="print-tags-tag-code">@tag.GoodsCode</span>
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>