::deep div.print-tags-page-wrapper {
  width: 29.7cm;
  height: 21cm;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5cm;
  margin-bottom: 0.5cm;
}

::deep div.print-tags-page {
  width: 28.7cm;
  height: 20cm;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  border: var(--border-thick);
  border-color: black;
}

::deep div.print-tags-tag {
  border: var(--border-thick);
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  /* padding-bottom: 5px; */
}

::deep span.print-tags-tag-title {
  background-color: var(--clr-grey);
  color: black;
  padding: 5px 10px;
  font-size: 1rem;
  font-family: var(--font-korean-pri);
  
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

::deep span.print-tags-tag-price {
  width: 100%;
  background-color: white;
  color: black;
  font-size: 2.8rem;
  padding: 5px 10px;
  text-align: right;
  font-family: var(--font-korean-price);
  overflow: hidden;
}

::deep span.print-tags-tag-price-won-symbol {
  font-size: 1.8rem;

}

::deep div.print-tags-tag-code-wrapper {
  width: 100%;
  background-color: white;
  padding: 5px 10px;

  overflow: hidden;
  /* border: solid 1px red; */

  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

::deep span.print-tags-tag-code {
  font-family: var(--font-barcode);
  color: black;
  text-align: center;
  font-size: 6rem;
}