@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo_One/RussoOne-Regular.ttf);
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url(../fonts/Noto_Serif_KR/NotoSerifKR-Regular.otf);
}

@font-face {
  font-family: 'DoHyeon';
  src: url(../fonts/Do_Hyeon/DoHyeon-Regular.ttf);
}



:root {
  --font-pri: 'Roboto', sans-serif;
  --font-h: 'Russo One', sans-serif;
  --font-korean-pri: 'Noto Serif KR', serif;
  --font-korean-price: 'DoHyeon', sans-serif;
}

html {
  font-family: var(--font-pri);
}

h1, h2 {
  font-family: var(--font-h);
}