html {
  background-color: var(--clr-white);
}

main {
  flex: 1;
}

div.page {
  display: flex;
  flex-direction: row;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}