::deep div.sidebar {
  
}

::deep h1 {
  font-size: 3rem;
  width: 100%;
}

::deep h2 {
  font-size: 2rem;
}

::deep button {
  border: var(--border-pri);
  padding: 10px;
}

::deep button:hover, ::deep button:focus {
  box-shadow: var(--box-shadow-pri);
}

::deep button:active {
  color: var(--clr-accent-c);
}

::deep .page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}